header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: bisque;
    
    .navbar a{
        margin: 10px;
      }
}