
.card {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
}

.experience {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.experience h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.experience .name {
  color: #333;
  font-size: 16px;
  margin: 10px 0 5px 0;
}

.experience p {
  margin: 5px 0;
  color: #888;
}
.card {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
  position: relative;
}

.card h2 {
  display: inline-block;
  margin: 0;
  padding: 0 20px;
  background-color: #ffffff;
  position: relative;
  font-size: 24px;
  color: #333;
}

.card h2::before,
.card h2::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 50px;
  height: 2px;
  background-color: #e0e0e0;
}

.card h2::before {
  left: -60px;
}

.card h2::after {
  right: -60px;
}
