.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portada {
  border-radius: 40px;
  margin-bottom: 30px;
  display: flex;
  justify-items: center;
  width: 50%;
}
#result {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.won img {
  border-radius: 50%;
}

.portada img {
  border-radius: 40px;
  width: 100%;
}
#start img {
  border-radius: 50%;
  width: 100%;
}
#start {
  border-radius: 50%;
  padding: 0px;
}
#containerMemory {
  padding: 1rem;
  width: 100vw;
  min-height: 70vh;
  background: url(https://c.tenor.com/0gjKrSIJuNIAAAAC/nyan-cat.gif);
  background-size: 520px;
  background-position-x: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper {
  box-sizing: content-box;

  width: 35em;
  padding: 1.5rem;

  background-color: #ffffff;
  border-radius: 0.6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}
.game-c {
 
  display: grid;
}
.stats-c {
  text-align: right;
  margin-bottom: 1.2em;
}
.stats-c span {
  font-weight: 600;
}
.card-container {
  position: relative;
  width: 6.2em;
  height: 6.2em;
  cursor: pointer;
}
.card-before,
.card-after {
  position: absolute;
  border-radius: 5px;
  width: 85%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #000000;
  transition: transform 0.07s ease-out;
  backface-visibility: hidden;
}
.card-before {
  background-image: url(https://media.istockphoto.com/vectors/rainbow-square-gradient-colors-background-vector-id892009470?k=20&m=892009470&s=612x612&w=0&h=CU4B3M_9KHxKckQl2xUV9lvUSiQuUnstTijtQ_BUuMA=);
  background-size: 100%;
  font-size: 2.8em;
  font-weight: 600;
}
.card-after {
  background-color: #ffffff;
  transform: rotateY(180deg);
}
.card-container.flipped .card-before {
  transform: rotateY(180deg);
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container.flipped .card-after {
  transform: rotateY(0deg);
}
.controls-c {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  min-height: 70vh;
  display:flex;
  align-items: center;
  justify-content: center;
  background: url(http://pa1.narvii.com/6262/98d31b354870e705baaab116fc5bfcef4306d342_00.gif);
  
  &.hide {
  display: none !important;
}
}
button {
  border: none;
  border-radius: 0.3em;
  padding: 1em 1.5em;
  cursor: pointer;
}
#stop {
  font-size: 1.1em;
  display: block;
  margin: 1.1em auto 0 auto;
  background-color: #000000;
  color: #ffffff;
}
.controls-c button {
  font-size: 1.3em;
  box-shadow: 0 0.6em 2em rgba(86, 66, 0, 0.2);
}

#result {
  text-align: center;
}
#result h2 {
  font-size: 2.5em;
}
#result h4 {
  font-size: 1.8em;
  margin: 0.6em 0 1em 0;
}

.won img {
  width: 60%;
}

@media (max-width: 993px) {
  #containerMemory {
    background: url(https://c.tenor.com/0gjKrSIJuNIAAAAC/nyan-cat.gif);
    background-size: 20%;
    background-position-x: 50px;
  }

  .won img {
  width: 70%;
}
}

@media (max-width: 769px) {
  .wrapper {
    box-sizing: content-box;
    width: 30em;
    padding: 2.5em 3em;
    background-color: #ffffff;

    border-radius: 0.6em;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
  }

  .won img {
  width: 100%;
}
  .card-container {
    width: 6.5em;
    height: 6.5em;

    margin: 0px;
  }
  .controls-c {
    position: absolute;
    
    width: 100%;
    height: 100%;
    background: url(http://pa1.narvii.com/6262/98d31b354870e705baaab116fc5bfcef4306d342_00.gif);
  }

  .portada {
    width: 90%;
  }
  #containerMemory {
    background: url(https://c.tenor.com/0gjKrSIJuNIAAAAC/nyan-cat.gif);
    background-size: 45%;
    background-position-x: -15px;
  }
}

@media (max-width: 490px) {
  .wrapper {
    box-sizing: content-box;
    width: 21em;
    padding: 2.5em 3em;
    background-color: #ffffff;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
  }
  .card-container {
   
    width: 5em;
    height: 5em;

    margin: 0px;
  }
  .controls-c {
    
    position: absolute;
    
    width: 100%;
    height: 100%;
    background: url(http://pa1.narvii.com/6262/98d31b354870e705baaab116fc5bfcef4306d342_00.gif);
  }
  .portada {
    width: 90%;
  }
  #start {
    width: 50%;
  }
  #containerMemory {
    background: url(https://c.tenor.com/0gjKrSIJuNIAAAAC/nyan-cat.gif);
    background-size: 30%;
  }
}

@media (max-width: 420px) {
  .wrapper {
    box-sizing: content-box;
    width: 20em;
    /* padding: 2.5em 3em; */
    background-color: #ffffff;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
  }

  .card-container {
    width: 4.6em;
    height: 4.6em;

    margin: 0px;
  }

  .controls-c {
    position: absolute;
   
    width: 100%;
    height: 100%;
    background: url(http://pa1.narvii.com/6262/98d31b354870e705baaab116fc5bfcef4306d342_00.gif);
  }
  .portada {
    width: 90%;
  }
  #containerMemory {
    background: url(https://c.tenor.com/0gjKrSIJuNIAAAAC/nyan-cat.gif);
    background-size: 30%;
  }
}

@media (max-width: 391px) {
  .wrapper {
    box-sizing: content-box;
    width: 18em;
   

    background-color: #ffffff62;
    position: absolute;

    border-radius: 0px;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
  }
  .portada {
    width: 90%;
  }

  .card-container {
    width: 4.6em;
    height: 4.6em;

    margin: 0px;
  }

  .controls-c {
    position: absolute;
    
    width: 100%;
    height: 100%;
    background: url(http://pa1.narvii.com/6262/98d31b354870e705baaab116fc5bfcef4306d342_00.gif);
  }
  #containerMemory {
    background: url(https://c.tenor.com/0gjKrSIJuNIAAAAC/nyan-cat.gif);
    background-size: 30%;
  }
}

/* ---------IPHONE  SE --------- */
@media (max-width: 376px) {
  #containerMemory {
    padding: 0;
  }
  .wrapper {
    box-sizing: content-box;
    width: 17.5em;
    
    background-color: #ffffff62;
    border-radius: 0px;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
  }
}
