#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(216, 225, 216);
}
body {
  background-color: rgb(133, 148, 140);
}
.buttons{
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}